.sidebar__link {
    background-color: black;
    padding: 20px 40px 20px 15px;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px 10px 10px 0;
    width: 220px;
    border: 3px solid rgb(21 218 21);
    transition: width 0.5s;
    font-weight: 600;
    display: block;
}

a {
    color: rgb(21, 218, 21);
    text-decoration: none;
}

.sidebar__link:hover {
    background-color: rgb(21, 218, 21);
    color: black !important;
    cursor: pointer;
    width: 165px;

}
.sidebar__link__selected {
    padding: 20px 40px 20px 15px;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px 10px 10px 0;
    background-color: rgb(21, 218, 21);
    color: black !important;
    cursor: pointer;
    width: 165px;
    font-weight: 600;
    display: block;
}
.sidebar {
    position: fixed;
    /* width: 250px; */
    top: 15%;
    bottom: 0;
    overflow: auto;
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px 20px 0;
}

@media screen and (max-width: 700px) {

  .sidebar__link {
    background-color: black;
    padding: 10px;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px;
    width: fit-content;
    border: 3px solid rgb(21 218 21);
    font-weight: 600;
    display: block;
  }
  .sidebar__link__selected {
    padding: 10px;
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px;
    background-color: rgb(21, 218, 21);
    color: black !important;
    cursor: pointer;
    width: fit-content;
    font-weight: 600;
    display: block;
}
  .sidebar {
    width: 100%;
    /* height: auto; */
    position: fixed;
    /* bottom: 0; */
    /* top: 100%; */
    height: auto;
    top: auto;
    display: flex;
    justify-content: space-between;
  }
  .sidebar__link:hover {
    background-color: rgb(21, 218, 21);
    color: black !important;
    cursor: pointer;
    width: 165px;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
  
  @media screen and (max-width: 500px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }